.para{
    color: var(--Color-Text-Body-2, #4A5970);
font-feature-settings: 'calt' off, 'liga' off;

/* Mulish/16/Medium */

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
} 


.PassengerInfo{
    
     transform: translateY(0px);

} 

/* @keyframes Form { 
   from{
    transform:  translate(0px, 200px);
   } 

   to{
    transform: translate(0px 200px) ;
   }
    
} */ 


@media only screen and (max-width: 600px) {
  .PassengerInfo{
    transform: translateY(200px);
    
  }
    
    } 


    .Save{
        color: black; 
        text-decoration: none;
    }
