/* Add this to your airplane.css */
.airplane-body {
    display: flex;
    flex-direction: column;
    align-items: start; /* This will center the children horizontally */
    justify-content:center; /* This will center the children vertically if desired */ 
   
  } 


  .red{
    transform: translate(265px, 50px); 
    z-index: 200;
  }


  
  @media (max-width: 700px) {
    .airplane-body {
      display: none;
    } }