/* Add this to your airplane.css */
.airplane-body {
    display: flex;
    flex-direction: column;
    align-items: start; /* This will center the children horizontally */
    justify-content:center; /* This will center the children vertically if desired */ 
   
  } 


  .red{
    transform: translate(330px, 50px); 
    z-index: 200;
  }


  
  @media (max-width: 700px) {
    .airplane-body {
      display: none;
    }  
  
    /* .red{
      width: 100px ; 
    } 

    .planBody{
      width: 200px;
    } 

    .bb{
      width: 100px;
    } 

    .small-right{
      width: 100;
    } */
  
  } 

    .bb{
      transform: translate(-70px);
    } 

    .small-right{
      transform: translate(-75px);
    }  

    .airplane-body {
      position: relative;
    }
    
    .airplane-svg {
      width: 100%; /* This will make the SVG responsive */
      height: auto; /* This will maintain the aspect ratio */
    }
    
    /* The following are arbitrary values for the top and left properties. Adjust them based on your layout */
    .seats {
      position: absolute;
      top: 10%; /* This will position the seats div relative to the top of the svg-container */
      left: 0;
      width: 100%;
      height: 80%; /* Adjust this as needed */
    }
    
    /* Responsive adjustments with a media query for smaller screens */
    @media (max-width: 600px) {
      .seats {
        top: 15%; /* You might want to adjust this value on smaller screens */
        left: 0;
        width: 100%;
        height: 70%; /* Adjust this as needed */
      }
    
      /* Adjust the SVG sizes on smaller screens */
      .airplane-svg {
        /* You may want to set a max-width to ensure the SVG is not too big on small screens */
        max-width: 100%;
        height: auto; /* Keep the aspect ratio intact */
      }
    }
    

