
  
  .row {
    width: 100%;  
    
    
  } 

  .xx{
    margin-left: 150px;
  }
  
  
  
  
  
  .flight img {
    width: 100%; 
   
  }
  
  .flight-info {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .col{
      margin-left: 0;
    }
  
    .col-md-4 {
      margin-top: 20px;
    }
  }
  