body {

  background-color: #63728923; 
  overflow-x: hidden; 
  
}


@media (max-width: 700px) {
  .Footer {
     display: none !important;
      
  }
} 

@media (max-width: 700px) { 
  .FLYWITHUS{
    display: none;
  } 

  .DISCOVEROURROUTES{
    display: none;
  }
  
}

